* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 5px 5px;
    margin: 0 auto;

}

.main {
    background-image: url("https://wallpaperaccess.com/download/movie-collage-3658597");

}

.maincontainer {
    width: 100%;
    padding: 180px 15px;
    margin: 0 auto;
    background-color: black;
    opacity: 0.75;

}

.maincontainer h1 {
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    color: white;
    opacity: 1;
    text-align: center;
}

.maincontainer p {
    margin-bottom: 3px;
    font-size: 20px;
    opacity: 1;
    color: white;
    text-align: center;
}

.fa {
    margin-right: 5px;
}

header {
    height: 80px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    width: 124px;
    margin-top: 20px;
}

.header-left {
    float: left;
    width: 25px;
}

.header-left img {
    float: left;
    width: 150px;
}

.header-right {
    float: right;
    background-color: rgba(255, 0, 0, 0.3);
    transition: all 0.5s;
}

.header-right:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.header-right a {
    float: right;
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
}

.body {
    /* padding-bottom: 50px; */
    text-align: center;
}

.heading {
    padding-top: 30px;
    padding-bottom: 30px;
    color: hsl(0, 0%, 86%);
}

.heading h2 {
    font-weight: normal;
    margin-top: 25px;
    text-align: center;
}

.movie {
    float: left;
    width: 25%;
    cursor: pointer;
}

.movie-tiles {
    position: relative;
}

.movie-tiles img {
    width: 100%;
    max-width: 280px;
    height: 100%;
    max-height: 150px;
    border-radius: 5%;
    transition: all 0.3s;
}

.movie-tiles img:hover {
    box-shadow: 0px 0px 10px 0px rgba(192, 192, 192, 0.75);
}

.movie-tiles p {
    position: absolute;
    top: 90px;
    width: 100%;
    color: white;
}

.txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: #b3aeb5;
    padding-bottom: 100px;
}

.heading h3 {
    font-weight: normal;
}

.message-wrapper {
    padding-bottom: 80px;
    text-align: center;
}

.email-form {
    width: 60%;
    height: 25px
}

.message {
    padding: 15px 40px;
    background-color: hsl(170, 60%, 62%);
    cursor: pointer;
    box-shadow: 0 7px hsl(185, 90%, 23%);
}

.message:active {
    position: relative;
    color: red;
    top: 7px;
    box-shadow: none;
}

.message:hover {
    background-color: hsl(170, 60%, 75%);
}

.clear {
    clear: left;
}

.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none !important;
    cursor: pointer;
}

footer img {
    width: 180px;
}

footer p {
    color: #b3aeb5;
    font-size: 12px;
}